{% extends 'base.html' %}
{% block body %}
<div class="bd-example m-0 border-0"> <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" fdprocessedid="7eaf7l">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example text area</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div> </div>



<div class="container my-3">
  <div class="container2 my-3 rounded p-3 border">
  <h2>Add a ToDo</h2>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Task Title</label>
      <input type="text" class="form-control" name="title" id="title">

    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Task Description</label>
      <input type="text" class="form-control" name="desc" id="desc">
    </div>

    <button type="submit" class="btn btn-success">Add Task</button>
  </form>
  </div>
</div>



<div class="container my-3">
  <div class="container2 my-3 rounded p-3 border">
    <h2>Task List</h2>

    {% if allTodo|length == 0 %}
    <div class="alert alert-info" role="alert">No tasks available. Add first ToDo!</div>
    {% else %}
    <table class="table rounded p-3 border">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>

        </tr>
      </thead>

      <tbody>
        {% for todo in allTodo %}

        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ todo.title }}</td>
          <td>{{ todo.desc }}</td>
          <td>{{ todo.date_created }}</td>
          <td>{{todo.status}}</td>
          <td>
            <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-primary btn-sm mx-1">Update</button>
              <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</button>
                <a href="/mark/{{todo.sno}}" type="button" class="btn btn-outline-success btn-sm mx-1">Mark as
                  Completed</button>
          </td>
        </tr>


        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endblock %}

  </div>
</div>